<h2 class="card-title text-center mb-4">Inicio de Sesión</h2>
<form>
    <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" placeholder="Introduce tu nombre de usuario" required
            name="username" [(ngModel)]="nombre" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required
            name="password" [(ngModel)]="password" />
    </div>
    <button type="submit" class="btn btn-primary w-100" (click)="login()">
        Iniciar sesión
    </button>
</form>